.footer-right {
  position: fixed;
  bottom: 5px;
  right: 5px;
  cursor: pointer; }
  .footer-right--openTab {
    position: fixed;
    bottom: 33px;
    right: 5px;
    height: 50%;
    background-color: #efefdeb5;
    width: 100px;
    text-align: center; }

.footer-right:hover {
  background-color: #efefdeb5; }
