@font-face {
  font-family: AvenirNextLTPro-Regular;
  src: url("./fonts/AvenirNextLTPro-Regular/33F739_1_0.eot");
  src: local("AvenirNextLTPro-Regular"),
  url("./fonts/AvenirNextLTPro-Regular/33F739_1_0.eot#iefix") format('embedded-opentype'),
  url("./fonts/AvenirNextLTPro-Regular/33F739_1_0.woff") format("woff"),
  url("./fonts/AvenirNextLTPro-Regular/33F739_1_0.woff2") format("woff2"),
  url("./fonts/AvenirNextLTPro-Regular/33F739_1_0.ttf") format("truetype");
  font-weight: 400
}

@font-face {
  font-family: AvenirNextLTPro-Medium;
  src: url("./fonts/AvenirNextLTPro-Medium/33F739_0_0.eot");
  src: local("AvenirNextLTPro-Medium"),
  url("./fonts/AvenirNextLTPro-Medium/33F739_0_0.eot#iefix") format('embedded-opentype'),
  url("./fonts/AvenirNextLTPro-Medium/33F739_0_0.woff") format("woff"),
  url("./fonts/AvenirNextLTPro-Medium/33F739_0_0.woff2") format("woff2"),
  url("./fonts/AvenirNextLTPro-Medium/33F739_0_0.ttf") format("truetype");
  font-weight: 500
}

@font-face {
  font-family: AvenirNextLTPro-Bold;
  src: url("./fonts/AvenirNextLTPro-Bold/33F739_2_0.eot");
  src: local("AvenirNextLTPro-Bold"),
  url("./fonts/AvenirNextLTPro-Bold/33F739_2_0.eot#iefix") format('embedded-opentype'),
  url("./fonts/AvenirNextLTPro-Bold/33F739_2_0.woff") format("woff"),
  url("./fonts/AvenirNextLTPro-Bold/33F739_2_0.woff2") format("woff2"),
  url("./fonts/AvenirNextLTPro-Bold/33F739_2_0.ttf") format("truetype");
  font-weight: 700
}
